/* Variables */
@import url("https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/fonts/google-sans.css");

:root
{
    --Google_Sans: "Google Sans";
    --background_image: url(
        "https://cdn.discordapp.com/attachments/1260597948283093023/1276763752271970326/Purple_Night_Sky.gif?ex=66cab667&is=66c964e7&hm=8da3eb77fd93038020521a6a15646f2d649964529f46110b955cf750876d4172&"
    ); /* Paste Image URL here (Line 8 / The line above this) within a "" */

    --anim_speed: 0.5s;
    --anim_ease: cubic-bezier(0.165, 0.84, 0.44, 1);

    --ui_rounding: 10px;

    --blur_size: blur(2.5px);
    --hover_blur: blur(5px)
    
}

/* Themes */
.theme-dark 
{
    --discord_primary_color: rgb(49, 51, 56);
    --message_bg_color: rgba(5, 5, 5, 0.25);
    --message_bg_hover_color: rgba(49, 51, 56, 0.5);
}

.theme-light 
{
    --discord_primary_color: rgb(255, 255, 255);
    --message_bg_color: rgba(255, 255, 255, 0.25);
    --message_bg_hover_color: rgba(255, 255, 255, 0.5);
}

/* Forces some ui to use rounding lol */
:root
{
    --radius-xs: var(--ui_rounding);
    --radius-sm: var(--ui_rounding);
}

.peopleList_e0840f,               /* People Background   */
.chatContent_a7d72e,              /* Chat Background     */
.peopleColumn_c2739c,             /* People Background   */
.contentRegionShownSidebar_c25c6d /* Settings Background */
{
    background: var(--background_image);
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

::selection
{
    background-color: var(--discord_primary_color);
}

div>*:not(code) 
{
    font-family: var(--Google_Sans), "Yu Mincho" !important;
}

.attachedBars_d0696b /* Reply Bar */
{
    right: -25px;
    position: relative;
    width: calc(100% - 50px);
    backdrop-filter: var(--blur_size);
    
    background-color: var(--message_bg_color);
}

.altText_cf58b5,                    /* Removing werid extra gif text space? */
.form_a7d72e:before,                /* Strange Bar near Chat bar?           */
.wrapper_e06857:after,              /* Random Line in Sticker Menu          */
.channelAppLauncher_df39bd,         /* Shitty Commands thing                */
.scroller_e2e187::-webkit-scrollbar /* Scrollbar                            */
{
    display: none !important;
}

.footer_f9a4c9,                                          /* Send Message Background */
.header_b56bbc,                                          /* Gif Search Bar          */
.wrapper_cdfd51,                                         /* Loading Background      */
.wrapper_b75bb9,                                         /* Loading Background      */
.replyBar_b11c5e,                                        /* Reply Background        */
.container_b56bbc,                                       /* Gif Background          */
.channelTextArea_a7d72e,                                 /* Reply Background        */
.spoilerContainer_a3d0f7,                                /* Upload image background */
.messageGroupWrapper_ac90a2,                             /* Pin Messages Message    */
.theme-dark .message_d5deea.selected_d5deea,             /* Message Hover Overlay   */
.theme-dark.mouse-mode.full-motion .message_d5deea:hover /* Message Hover Overlay   */
{
    background: none !important;
}

.hljs,                                   /* Code Preview Ui Roundin       */
.gif_bad108,                             /* Gif Rounding                  */
.base_f23da8,                            /* @ Hover Rounding              */
.root_f9a4c9,                            /* Media UI Rounding             */
.media_f847a3,                           /* Embed Image Upload            */
.image_aee8c6,                           /* Image Preview                 */
.embed_ad0b71,                           /* Embed (Like youtube) Rounding */
.upload_df1eaf,                          /* Upload UI Rounding            */
.result_bad108,                          /* GIF Loading Background        */
.layout_e9f61e,                          /* Hovering over a member        */
.pngImage_cb3343,                        /* Sticker Rounding              */
.container_c18ec9,                       /* GIF Search Bar                */
.container_effbe2,                       /* Sticker Search Bar            */
.side_a0 .item_a0,                       /* Settings Button Rounding      */
.container_b15955,                       /* Person List Hover Rounding    */
.embedMedia_ad0b71,                      /* Media UI Rounding             */
.categoryFade_af1167,                    /* GIF Background                */
.result_bad108:after,                    /* GIF Hover Boarder Rounding    */
.hasConnectedBar_d0696b,                 /* Add UI rounding when replying */
.modalTextContainer_ad9cbd,              /* Code UI Rounding              */
.categoryFadeBlurple_af1167,             /* GIF Background                */
.attachment_a4623d.newMosaicStyle_a4623d /* Attachment UI Rounding        */
{
    border-radius: var(--ui_rounding) !important;
}

.button_f7e168.selected_f7e168
{
    border-radius: var(--ui_rounding);
}

.footer_ad9cbd /* what is this? */
{
    border-radius: 0 0 var(--ui_rounding) var(--ui_rounding) !important;
}

.markup_f8f345 pre /* Fixing The code block whitespace */
{
    max-width: 100%;
}

.scrollableContainer_d0696b /* Typing Bar Rounding (Circle Round) */
{
    border-radius: 1.45rem !important;
}

.attachButton_d0696b /* Centering Attachemnt Button */
{
    margin-left: -20px !important;
}

.content_eed6a8 /* People Menu */
{
    padding-right: 5px;
}

.cozy_f9f2ca .timestamp_f9f2ca.alt_f9f2ca /* Timestamp */
{
    position: fixed;
    left: -4rem;
}

.avatar_f9f2ca,          /* Avatar      */
.avatarDecoration_f9f2ca /* Decor thing */
{
    top: 0;
    left: -54px; /* Don't mess with this, it offsets the avatar back to it's original position. */
}

peopleListItem_d51464:hover       /* People List (Friend Menu; Transition) */
{
    transition: margin, var(--anim_speed) var(--anim_ease);
}

.peopleListItem_d51464:not(hover) /* People List (Friend Menu; Transition) */
{
    transition: margin, var(--anim_speed) var(--anim_ease);
}

.header_a3bc57 /* Emoji Headers */
{
    position: relative;
    left: 8px;
    width: calc(100% - 16px);
}

.packHeader_de4721 /* Sticker Headers */
{
    position: relative;
    width: calc(100% - 8px);
}

.reactionBtn_ec6b19      /* Little reaction button thing */
{
    visibility: visible;
    opacity: 0.7;
}

.reactionBtn_ec6b19:hover /* Little reaction button thing */
{
    visibility: visible;
    opacity: 1;
}

.root_f9a4c9,                                       /* Send Message Background      */
.menu_d90b3d,                                       /* Right Click Menu             */
.header_a3bc57,                                     /* Emoji Menu Header            */
.wrapper_f7e168,                                    /* Message Right Menu           */
.packHeader_de4721,                                 /* Sticker Menu Header          */
.autocomplete_bea0d0,                               /* @ Autocomplete bar           */
.contentWrapper_af5dbb,                             /* Gif Menu                     */
.peopleListItem_d51464,                             /* People List (Friend Menu)    */
.navButton_af5dbb:hover,                            /* Gif + Sticker + Emoji Header */
.messagesPopoutWrap_ac90a2,                         /* Pinned Messges Background    */
.contentColumnDefault_c25c6d,                       /* Settings Backdrop            */
.emojiItem_fbfedd.emojiItemSelected_fbfedd,         /* Emoji Section Overlay        */
.stickerInspected_a708c4 .inspectedIndicator_a708c4 /* Sticker Section Overlay      */
{
    border-radius: var(--ui_rounding) !important;
    backdrop-filter: var(--blur_size) !important;
    background-color: var(--message_bg_color) !important;
    border: 1px solid var(--message_bg_color) !important;
}

.menu_d90b3d                                        /* Right Click Menu             */
{
    backdrop-filter: none !important;
}

.navButton_af5dbb:not(hover) /* Gif + Sticker + Emoji Header */
{
    border-radius: var(--ui_rounding) !important;
    backdrop-filter: blur(0) !important;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0) !important;
    bottom: 5px;
}

.backdrop_e4f2ae.withLayer_e4f2ae /* Voice Message send        */
{
    backdrop-filter: var(--blur_size) !important;
    transition: backdrop-filter 0.05 var(--anim_ease);
}

.submenuPaddingContainer_d90b3d /* Right Click Menu, Emoji Menu */
{
    position:initial;
    /* right: 100%;
    top: -12.5%; */
}

.peopleList_e0840f,               /* People List Round Disabling */
.contentColumnDefault_c25c6d,     /* Settings Backdrop           */
.backdrop_e4f2ae.withLayer_e4f2ae /* Voice Message send          */
{
    border-radius: 0 !important;
}

.contentRegionScroller_c25c6d .tools_c25c6d /* Settings Close Button */
{
    position: relative;
    transform: translate(calc(-100% - 10px), calc(-50%));
}

.button_ef319f,            /* Right Hover Button */
.keybind_df5532,           /* Close Button       */
.closeButton_df5532,       /* Close Button       */
.repliedTextPreview_ec86aa /* Reply Text         */
{
    color: var(--text-normal);
}

.container_b558d0 /* For some reason having this enable breaks media. */
{
    grid-template-columns: none !important;
}

.colorDefault_d90b3d
{
    width: 100% !important;
}

.container_b558d0:not(:hover),            /* Media Attachments */
.colorDefault_d90b3d:not(:hover),         /* Menu Options      */
.repliedMessage_f9f2ca:not(:hover),       /* Replied Message   */
.cozy_f9f2ca .contents_f9f2ca:not(:hover) /* Normal Message    */
{ /* Not Hovering */
    padding: 5px;
    border-radius: var(--ui_rounding);
    
    backdrop-filter: var(--blur_size);
    background-color: var(--message_bg_color);

    width: max-content;
    max-width: 100%;

    transition: backdrop-filter var(--anim_speed) var(--anim_ease), background-color var(--anim_speed) var(--anim_ease);
}

.container_b558d0:hover,            /* Media Attachments */
.colorDefault_d90b3d:hover,         /* Menu Options      */
.repliedMessage_f9f2ca:hover,       /* Replied Message   */
.cozy_f9f2ca .contents_f9f2ca:hover /* Normal Message    */
{ /* Hovering */
    padding: 5px;
    border-radius: var(--ui_rounding);

    backdrop-filter: var(--hover_blur);
    background-color: var(--message_bg_hover_color);

    width: max-content;
    max-width: 100%;

    transition: backdrop-filter var(--anim_speed) var(--anim_ease), background-color var(--anim_speed) var(--anim_ease);
}
